<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="<%=dp.image%>" />
    <title><%=username.toUpperCase()%></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="profile">
            <div class="profile-pic">
                <img src="<%=dp.image%>" alt="Profile Picture">
            </div>
            <p class="bio"><%=dp.bio%></p>
           
            <div class="title">
                <h1><%= username.toUpperCase() %></h1>
            </div>
            

            <div class="links">
                <%tree.forEach(item =>{
                    %><div class="link-item">
                    <a href="https://linkb-one.vercel.app/<%=item.username%>/<%= item.source %>" class="btn">
                        <%= item.source.toUpperCase() %>
                    </a>
                </div>
                <%})%> 
            </div>
            <a class="website" href="https://linkbriger.vercel.app">Click here to make your own links. </a>
        </div>
    </div>
</body>
</html>
